.card-shape {
  width: 12vw;
  height: 16vw;
  border-radius: 1vw;
}

.region-container {
  border: 5px solid black;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}

.region-container:hover{
  border-color: yellow;
}

.blank-region {
  background-color: blue;
  opacity: 0.25;
}
